# Virtual Environment
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/ 